
.premium {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #ffffff00;
    backdrop-filter: blur(8px); 
    z-index: 1; 
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content div {
    display: flex;
    gap: .4rem;
    align-items: center;
}

.locked-button {
    pointer-events: none;
    background: transparent;
}

.input-blocked {
    pointer-events: none;
    border-color: #1e212b;
}
