@import url('base-nav-dash.css');

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;

    background-color: var(--color-dark-blue-gray);
}

.content-add-form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tlt-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-update {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button-create-category {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: .9rem;
}

.button-function {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .9rem;
    text-decoration: none;
}

.content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.form {
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    border: 2px solid var(--color-slate-gray);
}

.form-flex {
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    border: 2px solid var(--color-slate-gray);
}

.form .alls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.form-flex .alls-t {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.content-labels-inputs {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.content-labels-inputs-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.label-input {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    width: 100%;
}

.label-input label {
    font-size: .9rem;
}

.label-input .input-form {
    outline: none;
    border: 2px solid var(--color-white);
    color: var(--color-light-black);
    padding: .4rem .3rem;
    border-radius: 10px;
}

.label-input .select {
    outline: none;
    border: 2px solid var(--color-white);
    color: var(--color-light-black);
    padding: .4rem .3rem;
    border-radius: 10px;
    width: 100%;
}

.label-check {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.label-check label {
    font-size: .9rem;
}

.check {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button-submit {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.button-submit .btn-form {
    outline: none;
    border: none;
    width: 295px;
    padding: .5rem 0;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--color-light-blue);
    cursor: pointer;
}



/* MODAL */

.modal-category {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffff00;
    backdrop-filter: blur(20px);
}

.flex-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tlt-form {
    background-color: var(--color-white);
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tlt-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.tlt-close svg {
    cursor: pointer;
}

.tlt-close svg path {
    fill: var(--color-light-black);
}

.tlt-close svg:hover path {
    fill: #dd1616cb;
}

.tlt-close h2 {
    font-size: 3rem;
    color: var(--color-blue-stone);
}

.label-input .label-modal {
    color: var(--color-light-black);
}

.border-input {
    border: 2px solid #dfdfdf !important;
}

.btn-form-modal {
    margin-top: .5rem;
    border: none;
    color: var(--color-white);
    padding: .4rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}