
@import url('fonts-colors.css');

.all-products {
    height: auto;
    margin-top: 4rem;
}

.content-cards {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: .5rem;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 250px;
    width: 222px;
    border-radius: 10px;
    border: 1px groove var(--color-light-gray);
}

.unit-info{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;
}

.unit-info .unit {
    width: auto;
    padding: .3rem 1rem;
    background-color: var(--color-amethyst);
    font-size: .8rem;
    align-self: baseline;
    border-top-left-radius: 10px;
}

.price-available {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.stock-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    width: 100%;
}

.info-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.info-product .product {
    font-size: .9rem;
    letter-spacing: 1.5px;
    width: 190px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light-gray);
}

.info-product p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-sky-blue);
}

.price-available p:last-child {
    font-size: .9rem;
    font-weight: 300;
    color: var(--color-light-gray);
}

.buttons-add-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.buttons-add-view a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    text-decoration: none;
    background-color: var(--color-dark-charcoal-blue);
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
}

.actions {
    padding: .7rem .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-size: .8rem;
    text-decoration: none;
}

.actions a:first-child {
    color: var(--color-dark-red);
    border: 1px solid transparent;
    width: 180px;
    padding: .2rem 0;
    border-radius: 10px;
}

.actions a:first-child:hover {
    border-color: var(--color-dark-red);
}

.actions a:last-child {
    color: var(--color-sky-blue);
    border: 1px solid transparent;
    width: 180px;
    padding: .2rem 0;
    border-radius: 10px;
}

.actions a:last-child:hover {
    border-color: var(--color-sky-blue);
}

