@import url('fonts-colors.css');

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.logo h1 {
    background: linear-gradient(200deg, var(--color-light-green), var(--color-light-blue), var(--color-light-green)); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.2rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: -.1rem;
    background-size: 300%;
    background-position: 0% 50%; 
    animation: moveGradient 4s ease-in-out infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;  
    }
}