.bg-btn {
     background: linear-gradient(
        90deg,
        #04BEFA,
        #647adb,
        #7b66d0,
        #9554c9,
        #04BEFA
    );
    background-size: 200%; 
    animation: gradient-move 5s infinite;
    transition: transform 0.2s, box-shadow 0.2s;
}

@keyframes gradient-move {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}

.b-col-fcs-val:focus {
    border-color: #647adb61 !important;
}

.b-col-fcs-val:valid {
    border-color: #04baf780 !important;
}