@import url('base-logo.css');

.main-store {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

* {
    color: #eee;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--color-dark-blue-gray);
    border-right: 1px solid var(--color-slate-gray);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    user-select: none;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.functions-dash {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
}

.accordion {
    width: 210px;
}

.down-arrow.none {
    display: none;
}

.up-arrow {
    display: none;
}

.up-arrow.show {
    display: block;
}

.accordion-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem 0;
}

.accordion-btn span {
    font-size: 1rem;
    font-weight: bold;
    color: #eee;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-content.open {
    max-height: 500px; 
}

.accordion-content div {
    display: flex;
    flex-direction: column;
}

.accordion-content div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: .5rem 0 .5rem 1rem;
    gap: .3rem;
}

.accordion-content div a:hover {
    background-color: var(--color-light-green);
}

.accordion-content div a p {
    color: #5d5d65;
    font-size: .9rem;
}












.dashboard {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--color-dark-charcoal);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
}

.nav-dash {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    user-select: none;
}

.noti-username {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.noti-username a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.noti-username a span {
    background-color: var(--color-dark-red);
    padding: .2rem .4rem;
    border-radius: 100px;
    font-size: .7rem;
    font-weight: 400;
    color: #eee;
    position: absolute;
    top: 1.5rem;
    right: 11rem;

}

.username {
    display: flex;
    align-items: center;
    gap: .4rem;
    cursor: pointer;
}

.name-down {
    display: flex;
    align-items: center;
}

.tlt-dash {
    color: #eee;
}

.name-down .name {
    color: #eee;
    font-size: .9rem;
}

.modal-dash {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: var(--color-dark-blue-gray);
    position: absolute;
    box-sizing: border-box;
    margin-top: .5rem;
    width: 120px;
    right: 2.6rem;
    border-radius: 10px;
}

.border-modal {
    border: 1px solid var(--color-slate-gray);
    border-radius: 10px;
}

.pad-modal {
    box-sizing: border-box;
}

.modal-dash.open {
    max-height: 500px; 
}

.name-logout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.myself {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: .5rem;
    border-bottom: 1px solid var(--color-slate-gray);
}

.myself .rol {
    font-size: .9rem;
    font-style: oblique;
    color: var(--color-light-green);
}

.options-modal {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: .5rem;
}

.options-modal a p {
    font-size: .9rem;
}

.options-modal a {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.options-modal a:first-child:hover svg path {
    fill: var(--color-dark-red);
}

.options-modal a:first-child:hover p {
    color: var(--color-dark-red);
}







.control-dash {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
}

.content-dash {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.group-cards {
    width: 300px;
    background-color: var(--color-dark-charcoal-blue);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.padd {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-union {
    background-color: var(--color-dark-midnight-blue);
    border: 1px solid #282e3a;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;

}

.icon-name-slogan {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.name-slogan .slogan-card {
    font-weight: 100;
    font-size: .9rem;
}

.num-percentage-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.num-percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-percentage, .revenue-percentage {
    display: flex;
    flex-direction: column;
}

.icon-percentage {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.num-percentage .num {
    font-size: 1.5rem;
}

.product-percentage .product {
    font-size: 1.5rem;
}

.product-percentage .product {
    font-size: 1.5rem;
}

.num-margen .margen {
    font-size: .9rem;
}

.icon-percentage .percentage {
    font-size: .7rem;
    color: var(--color-light-green);
    font-weight: 400;
}

.btn-see {
    display: flex;
    justify-content: end;
}

.btn-see a {
    text-decoration: none;
    font-size: .8rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.btn-see a p {
    color: var(--color-light-blue);
}