@import url('fonts-colors.css');

.main-home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    background-color: var(--color-light-black);
}

* {
    color: var(--color-light-black);
    user-select: none;
}

/*? NAV HOME */

.nav-home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    display: none;
}

#modal-buttons {
    display: none;
}

.nav-home .logo-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}

.logo-buttons .logo {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
}

.logo h1 {
    background: linear-gradient(200deg, var(--color-light-green), var(--color-light-blue), var(--color-light-green)); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.2rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: -.1rem;
    background-size: 300%;
    background-position: 0% 50%; 
    animation: moveGradient 4s ease-in-out infinite;
}

.logo-buttons .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-buttons .buttons > .access {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid transparent;
}

.buttons > .access:last-child {
    background-color: var(--color-white);
    color: var(--color-black);
}

.buttons > .access:first-child:hover {
    border-color: #32b2e4;
}

.buttons > .access:last-child:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: #32b2e4;
}


/*? WELCOME HOME */

.welcome-home {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.psb {
    width: 90%;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.phrase-slogan .phrase {
    font-size: 4rem;
    color: var(--color-white);
    line-height: 1;
}

.phrase-slogan .slogan {
    width: 65%;
    margin: .5rem auto auto auto;
    font-size: 1rem;
    color: #adadad;
}

.psb button {
    width: 220px;
    margin: auto;
    padding: .7rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-light-blue);
    color: var(--color-white);
    font-weight: 400;
    font-size: 1rem;
}

.psb button:hover {
    background-color: #356bab;
    border-color: #356bab;
}

/*? MODALS */

#modal-register {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffffbf;
    backdrop-filter: blur(20px);
}

#modal-login {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffffbf;
    backdrop-filter: blur(20px);
}

#modal-change-password {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffffbf;
    backdrop-filter: blur(20px);
}

.content-logo-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-form {
    height: 500px;
    border-radius: 40px;
    border: 1px solid #afafaf;
    background-color: var(--color-white);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.logo-close {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.logo-icon {
    display: flex;
}

.logo-icon h1 {
    background: linear-gradient(200deg, var(--color-light-green), var(--color-light-blue), var(--color-light-green)); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.2rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: -.1rem;
    background-size: 300%;
    background-position: 0% 50%; 
    animation: moveGradient 4s ease-in-out infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;  
    }
}

.close-modals svg {
    cursor: pointer;
}

.close-modals svg path {
    fill: var(--color-light-black);
}

.close-modals svg:hover path {
    fill: #dd1616cb;
}

.form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
}

.tlt-text-modal {
    width: 500px;
    margin-bottom: 1.5rem;
}

.tlt-form-modal {
    font-size: 4rem;
    text-align: center;
    color: #6ac04ed7;
}

.text-form-modal {
    width: 350px;
    margin: auto;
    position: relative;
    left: 1.5rem;
}

.text-login {
    position: relative;
    left: .7rem;
}

.tlt-password {
    line-height: 1;
}

.content-form {
    width: 360px;
    position: relative;
    left: 4.5rem;

    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.content-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #dfdfdf;
    padding: .3rem .2rem;
    border-radius: 10px;
}

.select {
    width: 102%;
    outline: none;
    border: 2px solid #dfdfdf;
    padding: .3rem .2rem;
    border-radius: 10px;
}

.input:focus, .select:focus {
    border-color: #3289d179;
}

.input:valid, .select:valid {
    border-color: #6ac04e7e;
}

.content-a {
    position: relative;
    top: .5rem;
    display: flex;
    justify-content: center;
}

.content-a a {
    text-decoration: none;
    font-size: .9rem;
    color: var(--color-light-blue);
}

.content-a a:hover {
    text-decoration: underline;
}

.button-form {
    width: 100%;
    padding: .4rem 0;
    border-radius: 10px;
    background-color: var(--color-light-green);
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: .9;
}

.button-form:hover {
    opacity: 1;
}



/*? MEDIA QUERIES */

@media screen and (max-width: 1920px) {
        
    .psb {
        width: 55%;
    }

    .phrase-slogan .phrase {
        font-size: 5rem;
    }

    .phrase-slogan .slogan {
        width: 55%;
    }
}

@media screen and (max-width: 1200px) {
        
    .psb {
        width: 90%;
    }

    .phrase-slogan .phrase {
        font-size: 4rem;
    }

    .phrase-slogan .slogan {
        width: 65%;
    }
}

@media screen and (max-width: 800px) {
        
    .psb {
        width: 85%;
    }

    .phrase-slogan .phrase {
        font-size: 4rem;
    }

    .phrase-slogan .slogan {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
        
    .psb {
        width: 100%;
    }

    .phrase-slogan .phrase {
        font-size: 2rem;
    }

    .phrase-slogan .slogan {
        width: 80%;
    }

    /*? NAV */

    .nav-home .logo-buttons {
        padding: .5rem 1rem;
    }
    
    .logo-buttons .buttons {
        display: none;
    }

    .menu {
        display: block;
    }

    #modal-buttons {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #ffffffbf;
        backdrop-filter: blur(20px);
    }

    .modal-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
    }

    .modal-buttons .access-modal {
        text-decoration: none;
        width: 250px;
        background-color: var(--color-light-black);
        text-align: center;
        padding: .8rem;
        border-radius: 100px;
        font-weight: bold;
        color: var(--color-white);
        cursor: pointer;
    }
    
    .close {
        position: relative;
        left: 9rem;
        top: -16rem;
    }

    /*? MODAL REGISTER */

    .logo-form {
        border-radius: 20px;
        border-color: var(--color-white);
        box-shadow: 1px 1px 10px 5px #ebebeb;
    }

    .logo-close {
        padding: 0 1rem;
    }

    .close-modals svg {
        width: 20px;
    }

    .form {
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .tlt-text-modal {
        width: 300px;
    }

    .tlt-form-modal {
        font-size: 2.5rem;
    }

    .text-form-modal {
        left: 1rem;
        width: 100%;
        font-size: .9rem;
    }

    .text-login {
        left: .3rem;
    }

    .content-form {
        width: 280px;
        left: .6rem;
    }

    .content-inputs {
        flex-direction: column;
    }

    .select {
        width: 104%;
    }

    .button-form {
        opacity: 1;
    }
}