@import url('../base-nav-dash.css');

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto;
    height: 100vh;

    background-color: var(--color-dark-blue-gray);
}

.new-sale-products {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--color-dark-blue-gray);
}

.new-sale {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tlt-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-see {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button-add-product-sale {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: .9rem;
}

.button-function {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .9rem;
    text-decoration: none;
}

.button-confirm {
    background-color: var(--color-blue-stone);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
    opacity: .9;
}

.button-confirm:hover {
    opacity: 1;
}

.content-table {
    margin-top: 3rem;
}

.tlt-buttons-sale {
    width: 80%;
    margin: auto auto 1rem auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-generate-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cancel-generate-buttons a {
    display: flex;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--color-dark-red);
    opacity: .9;
}

.cancel-generate-buttons a:hover {
    opacity: 1;
}

.options-pay-credit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .2rem;
    border: 1px solid var(--color-white);
}

.options-pay-credit button:first-child {
    background-color: var(--color-dark-green);
}

.btn-options {
    padding: .3rem 0;
    width: 100px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.btn-generate {
    outline: none;
    background-color: var(--color-slate-gray);
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
    opacity: .9;
}

.btn-generate:hover {
    opacity: 1;
    background-color: var(--color-dark-green);
}


table, th, td {
    border: 2px solid var(--color-slate-gray);
    border-collapse: collapse;
}

table {
    width: 80%;
    margin: auto;
}

th, td {
    padding: .5rem 0;
    text-align: center;
}

td {
    font-size: .9rem;
    font-weight: 300;
}

.hidden-info-sale {
    display: none;
    width: 80%;
    margin: 2rem auto 1rem auto;
}

.form-generate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: .5rem;
}

.input {
    outline: none;
    padding: .2rem .3rem;
    height: 27px;
    border: 2px solid var(--color-white);
    background-color: transparent;
    width: 260px;
    border-radius: 10px;
}

.select {
    outline: none;
    border: 2px solid var(--color-white);
    background-color: transparent;
    padding: .5rem .3rem;
    border-radius: 10px;
    width: 270px;
}

.payment-method {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.payment-method.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
}


.error {
    font-size: .9rem;
    color: var(--color-dark-red);
}

.success {
    font-size: .9rem;
    color: var(--color-dark-green);
}



/* MODAL AGREGAR PRODUCTOS */

.modal-add-product {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffff00;
    backdrop-filter: blur(20px);
}

.flex-modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.tlt-form {
    height: 100%;
    width: 500px;
    background-color: var(--color-white);
    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tlt-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.tlt-close svg {
    cursor: pointer;
}

.tlt-close svg path {
    fill: var(--color-light-black);
}

.tlt-close svg:hover path {
    fill: #dd1616cb;
}

.tlt-close h2 {
    font-size: 1.5rem;
    color: var(--color-blue-stone);
}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
    box-sizing: border-box;
}

.label-input label {
    color: var(--color-light-black);
}

.input-form {
    border: 2px solid #dfdfdf;
    outline: none;
    padding: .2rem .2rem;
    height: 27px;
    border-radius: 10px;
    color: var(--color-light-black);
}

.btn-form-modal {
    margin-top: 1.4rem;
    border: none;
    padding: .5rem .3rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

/* ? PRODUCTOS */

.products {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: .5rem;

    overflow-y: scroll;
}

.products .info {
    color: var(--color-slate-gray);
    width: 100%;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0;
}

.tlt-product {
    color: var(--color-blue-stone);
    font-size: 1.5rem;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 150px;
    width: 210px;
    border: 1px groove var(--color-light-gray);
    border-radius: 10px;
}

.unit-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;
}

.unit-info .unit {
    width: auto;
    padding: .3rem 1rem;
    background-color: var(--color-amethyst);
    font-size: .8rem;
    align-self: baseline;
    border-top-left-radius: 10px;
}

.price-available {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.info-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.info-product .product {
    font-size: .9rem;
    letter-spacing: 1.5px;
    width: 190px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark-charcoal-blue);
}

.info-product p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-sky-blue);
}

.price-available p:last-child {
    font-size: .9rem;
    font-weight: 300;
    color: var(--color-dark-charcoal-blue);
}


.not-product {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-slate-gray);
}

.not-product p {
    color: var(--color-slate-gray);
    font-weight: 400;
}

/* MODAL GENERAR VENTA */
.modal-generate-sale {
    display: none;
    background-color: var(--color-white-transparent);
    backdrop-filter: blur(10px);
    height: 125.1% !important;
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
}

.generate-sale {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-modal {
    position: relative;
    top: 4rem;
    background-color: var(--color-white);
    height: 300px;
    width: 550px;
    padding: 1.5rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tlt-calc {
    color: var(--color-slate-gray) !important;
}

.label-sale {
    font-weight: 500;
}

.calc-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-sale-confirm {
    align-self: flex-end;
}

.calc-value p {
    color: var(--color-slate-gray);
    font-weight: 500;
}

@media (max-width: 1400px){
    .tlt-buttons-sale {
        width: 70%;
    }

    table {
        width: 70%;
    }
}