-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: vendex
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table 'cart_items'
--

DROP TABLE IF EXISTS 'cart_items';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'cart_items' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'product_name' varchar(100) NOT NULL,
  'cart_stock' int(11) NOT NULL,
  'sale_price' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'cart_items'
--

LOCK TABLES 'cart_items' WRITE;
/*!40000 ALTER TABLE 'cart_items' DISABLE KEYS */;
/*!40000 ALTER TABLE 'cart_items' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'categories_restaurant'
--

DROP TABLE IF EXISTS 'categories_restaurant';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'categories_restaurant' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'category' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'categories_restaurant'
--

LOCK TABLES 'categories_restaurant' WRITE;
/*!40000 ALTER TABLE 'categories_restaurant' DISABLE KEYS */;
/*!40000 ALTER TABLE 'categories_restaurant' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'categories_store'
--

DROP TABLE IF EXISTS 'categories_store';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'categories_store' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'category' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'categories_store'
--

LOCK TABLES 'categories_store' WRITE;
/*!40000 ALTER TABLE 'categories_store' DISABLE KEYS */;
/*!40000 ALTER TABLE 'categories_store' ENABLE KEYS */;
UNLOCK TABLES;

--

-- Table structure for table 'credits'
--

DROP TABLE IF EXISTS 'credits';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'credits' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'customer' varchar(100) NOT NULL,
  'amount_borrowed' decimal(50,0) NOT NULL,
  'creation_date' date NOT NULL,
  'expiration_date' date NOT NULL,
  'fertilizers' decimal(50,0) NOT NULL,
  'credit_status' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'credits'
--

LOCK TABLES 'credits' WRITE;
/*!40000 ALTER TABLE 'credits' DISABLE KEYS */;
/*!40000 ALTER TABLE 'credits' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'employees'
--

DROP TABLE IF EXISTS 'employees';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'employees' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'name_employee' varchar(100) NOT NULL,
  'email' varchar(100) NOT NULL,
  'address' varchar(100) NOT NULL,
  'document_type' varchar(100) NOT NULL,
  'document_number' varchar(20) NOT NULL,
  'phone' varchar(20) NOT NULL,
  'employee_position' varchar(100) NOT NULL,
  'entry_date' date NOT NULL,
  'type_contract' varchar(100) NOT NULL,
  'emergency_contact' varchar(100) NOT NULL,
  'emergency_phone' varchar(20) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'employees'
--

LOCK TABLES 'employees' WRITE;
/*!40000 ALTER TABLE 'employees' DISABLE KEYS */;
/*!40000 ALTER TABLE 'employees' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'ingredients'
--

DROP TABLE IF EXISTS 'ingredients';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'ingredients' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'id_category' int(11) NOT NULL,
  'name_ingredient' varchar(100) NOT NULL,
  'quantity_stock' int(11) NOT NULL,
  'purchase_price' decimal(50,0) NOT NULL,
  'minimum_stock' int(11) NOT NULL,
  'ingredient_status' varchar(100) NOT NULL,
  'unit' varchar(100) NOT NULL,
  'entry_date' date NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'id_category' ('id_category'),
  CONSTRAINT 'ingredients_ibfk_1' FOREIGN KEY ('id_category') REFERENCES 'categories_restaurant' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'ingredients'
--

LOCK TABLES 'ingredients' WRITE;
/*!40000 ALTER TABLE 'ingredients' DISABLE KEYS */;
/*!40000 ALTER TABLE 'ingredients' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'ingredients_of_dish'
--

DROP TABLE IF EXISTS 'ingredients_of_dish';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'ingredients_of_dish' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'id_dish' int(11) NOT NULL,
  'name_ingredient' varchar(100) NOT NULL,
  'stock_taken' int(11) NOT NULL,
  'unit' varchar(100) NOT NULL,
  'cost' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'id_dish' ('id_dish'),
  CONSTRAINT 'ingredients_of_dish_ibfk_1' FOREIGN KEY ('id_dish') REFERENCES 'recipes' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'ingredients_of_dish'
--

LOCK TABLES 'ingredients_of_dish' WRITE;
/*!40000 ALTER TABLE 'ingredients_of_dish' DISABLE KEYS */;
/*!40000 ALTER TABLE 'ingredients_of_dish' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'inventory_products'
--

DROP TABLE IF EXISTS 'inventory_products';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'inventory_products' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'id_category' int(11) NOT NULL,
  'product_name' varchar(100) NOT NULL,
  'supplier' varchar(100) NOT NULL,
  'purchase_price' decimal(50,0) NOT NULL,
  'sale_price' decimal(50,0) NOT NULL,
  'stock_quantity' int(11) NOT NULL,
  'product_description' varchar(500) NOT NULL,
  'entry_date' date NOT NULL,
  'product_status' varchar(100) NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'id_category' ('id_category'),
  CONSTRAINT 'inventory_products_ibfk_1' FOREIGN KEY ('id_category') REFERENCES 'categories_store' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'inventory_products'
--

LOCK TABLES 'inventory_products' WRITE;
/*!40000 ALTER TABLE 'inventory_products' DISABLE KEYS */;
/*!40000 ALTER TABLE 'inventory_products' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'order_cart'
--

DROP TABLE IF EXISTS 'order_cart';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'order_cart' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'order_name' varchar(100) NOT NULL,
  'cart_stock' int(11) NOT NULL,
  'sale_price' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'order_cart'
--

LOCK TABLES 'order_cart' WRITE;
/*!40000 ALTER TABLE 'order_cart' DISABLE KEYS */;
/*!40000 ALTER TABLE 'order_cart' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'order_sales'
--

DROP TABLE IF EXISTS 'order_sales';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'order_sales' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'total_amount' decimal(50,0) NOT NULL,
  'sale_date' date NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'order_sales'
--

LOCK TABLES 'order_sales' WRITE;
/*!40000 ALTER TABLE 'order_sales' DISABLE KEYS */;
/*!40000 ALTER TABLE 'order_sales' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'order_sales_details'
--

DROP TABLE IF EXISTS 'order_sales_details';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'order_sales_details' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'sale_id' int(11) NOT NULL,
  'order_name' varchar(100) NOT NULL,
  'quantity' int(11) NOT NULL,
  'unit_price' decimal(50,0) NOT NULL,
  'subtotal' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'sale_id' ('sale_id'),
  CONSTRAINT 'order_sales_details_ibfk_1' FOREIGN KEY ('sale_id') REFERENCES 'order_sales' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'order_sales_details'
--

LOCK TABLES 'order_sales_details' WRITE;
/*!40000 ALTER TABLE 'order_sales_details' DISABLE KEYS */;
/*!40000 ALTER TABLE 'order_sales_details' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'pending_order_details'
--

DROP TABLE IF EXISTS 'pending_order_details';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'pending_order_details' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'order_id' int(11) NOT NULL,
  'saucer' varchar(100) NOT NULL,
  'quantity' int(11) NOT NULL,
  'estimated_time' int(11) NOT NULL,
  'personalization' varchar(200) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'pending_order_details'
--

LOCK TABLES 'pending_order_details' WRITE;
/*!40000 ALTER TABLE 'pending_order_details' DISABLE KEYS */;
/*!40000 ALTER TABLE 'pending_order_details' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'pending_orders'
--

DROP TABLE IF EXISTS 'pending_orders';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'pending_orders' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'order_number' int(11) NOT NULL,
  'customer' varchar(100) NOT NULL,
  'order_date' varchar(100) NOT NULL,
  'order_status' varchar(100) NOT NULL,
  'type_service' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'pending_orders'
--

LOCK TABLES 'pending_orders' WRITE;
/*!40000 ALTER TABLE 'pending_orders' DISABLE KEYS */;
/*!40000 ALTER TABLE 'pending_orders' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'recipes'
--

DROP TABLE IF EXISTS 'recipes';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'recipes' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'name_dish' varchar(100) NOT NULL,
  'sale_price' decimal(50,0) NOT NULL,
  'prepared_time' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'recipes'
--

LOCK TABLES 'recipes' WRITE;
/*!40000 ALTER TABLE 'recipes' DISABLE KEYS */;
/*!40000 ALTER TABLE 'recipes' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'sale_details'
--

DROP TABLE IF EXISTS 'sale_details';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'sale_details' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'sale_id' int(11) NOT NULL,
  'product_name' varchar(100) NOT NULL,
  'quantity' int(11) NOT NULL,
  'unit_price' decimal(50,0) NOT NULL,
  'subtotal' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'sale_id' ('sale_id'),
  CONSTRAINT 'sale_details_ibfk_1' FOREIGN KEY ('sale_id') REFERENCES 'sales' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'sale_details'
--

LOCK TABLES 'sale_details' WRITE;
/*!40000 ALTER TABLE 'sale_details' DISABLE KEYS */;
/*!40000 ALTER TABLE 'sale_details' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'sales'
--

DROP TABLE IF EXISTS 'sales';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'sales' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'total_amount' int(11) NOT NULL,
  'sale_date' date NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'sales'
--

LOCK TABLES 'sales' WRITE;
/*!40000 ALTER TABLE 'sales' DISABLE KEYS */;
/*!40000 ALTER TABLE 'sales' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'sales_employees'
--

DROP TABLE IF EXISTS 'sales_employees';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'sales_employees' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'sale_id' int(11) NOT NULL,
  'name_employee' varchar(100) NOT NULL,
  PRIMARY KEY ('id'),
  KEY 'sale_id' ('sale_id'),
  CONSTRAINT 'sales_employees_ibfk_1' FOREIGN KEY ('sale_id') REFERENCES 'order_sales' ('id') ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'sales_employees'
--

LOCK TABLES 'sales_employees' WRITE;
/*!40000 ALTER TABLE 'sales_employees' DISABLE KEYS */;
/*!40000 ALTER TABLE 'sales_employees' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'schedule'
--

DROP TABLE IF EXISTS 'schedule';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'schedule' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'name_employee' varchar(100) NOT NULL,
  'entry_time' varchar(100) NOT NULL,
  'departure_time' varchar(100) NOT NULL,
  'days_week' varchar(200) NOT NULL,
  'start_break' varchar(100) NOT NULL,
  'end_break' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'schedule'
--

LOCK TABLES 'schedule' WRITE;
/*!40000 ALTER TABLE 'schedule' DISABLE KEYS */;
/*!40000 ALTER TABLE 'schedule' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'staff_costs'
--

DROP TABLE IF EXISTS 'staff_costs';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'staff_costs' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'employee' varchar(100) NOT NULL,
  'employee_position' varchar(100) NOT NULL,
  'hours_worked' int(11) NOT NULL,
  'hourly_pay' decimal(50,0) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'staff_costs'
--

LOCK TABLES 'staff_costs' WRITE;
/*!40000 ALTER TABLE 'staff_costs' DISABLE KEYS */;
/*!40000 ALTER TABLE 'staff_costs' ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table 'users'
--

DROP TABLE IF EXISTS 'users';
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE 'users' (
  'id' int(11) NOT NULL AUTO_INCREMENT,
  'name' varchar(100) NOT NULL,
  'lastname' varchar(100) NOT NULL,
  'email' varchar(100) NOT NULL,
  'pass' varchar(100) NOT NULL,
  'role' varchar(100) NOT NULL,
  PRIMARY KEY ('id')
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table 'users'
--

LOCK TABLES 'users' WRITE;
/*!40000 ALTER TABLE 'users' DISABLE KEYS */;
INSERT INTO 'users' VALUES (1,'Ferney','Barbosa','barbosaferney05@gmail.com','ferstore','Tienda'),(2,'Andrea','Perez','andreaperez@gmail.com','andrearest','Restaurante');
/*!40000 ALTER TABLE 'users' ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-11-09 15:19:52
