@import url('../base-nav-dash.css');

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;

    background-color: var(--color-dark-blue-gray);
}

.add-orders-form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tlt-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-update {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button-create-category {
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--color-light-blue);
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: .9rem;
}

.button-function {
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--color-light-blue);
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .9rem;
    text-decoration: none;
}

.content-form {
    margin-top: 3rem;
}

.form {
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    border: 2px solid var(--color-slate-gray);
}

.form .alls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.content-labels-inputs {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 400px;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.label-input label {
    font-size: .9rem;
}

.label-input .input-form {
    outline: none;
    border: 2px solid var(--color-white);
    color: var(--color-light-black);
    padding: .4rem .3rem;
    border-radius: 10px;
}

.label-input .select {
    outline: none;
    border: 2px solid var(--color-white);
    color: var(--color-light-black);
    padding: .4rem .3rem;
    border-radius: 10px;
}

.select option {
    color: var(--color-light-black);
}

.input-form:focus, .select:focus {
    border-color: var(--color-light-blue);
}

.input-form:valid, .select:valid {
    border-color: var(--color-light-green);
}

.button-submit {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.button-submit .btn-form {
    outline: none;
    border: none;
    width: 295px;
    padding: .5rem 0;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--color-light-blue);
    cursor: pointer;
}


