@import url('../base-logo.css');
@import url('../base-nav-dash.css');

.main-store {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

* {
    color: #eee;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--color-dark-blue-gray);
    border-right: 1px solid var(--color-slate-gray);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    user-select: none;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .vendex {
    width: 220px;
    user-select: none;
}

.functions-dash {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
}

.accordion {
    width: 210px;
}

.down-arrow.none {
    display: none;
}

.up-arrow {
    display: none;
}

.up-arrow.show {
    display: block;
}



.accordion-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem 0;
}

.accordion-btn span {
    font-size: 1rem;
    font-weight: bold;
    color: #eee;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-content.open {
    max-height: 500px; 
}

.accordion-content div {
    display: flex;
    flex-direction: column;
}

.accordion-content div a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: .5rem 0 .5rem 1rem;
    gap: .3rem;
}

.accordion-content div a:hover {
    background-color: var(--color-sky-blue);
}

.accordion-content div a p {
    color: #5d5d65;
    font-size: .9rem;
}

.accordion-content div .premium {
    display: flex;
    align-items: center;
    background-color: #181e2a;
    border: 2px solid var(--color-slate-gray);
    pointer-events: none;
}

.accordion-content div .premium p {
    font-size: .9rem;
}











.dashboard {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--color-dark-charcoal);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
}

.control-dash {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    overflow-y: scroll;
    overflow-x: hidden;
    height: 860px;
}

.scroll-dash {
    background-color: transparent;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1px;
}

.grid-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1rem 0;
    box-sizing: border-box;
}

.padd {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-cards {
    background-color: var(--color-dark-charcoal-blue);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.card-union {
    background-color: var(--color-dark-midnight-blue);
    border: 1px solid #282e3a;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.cards {
    display: flex;
    gap: 1rem;
}

.icon-name-slogan {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.name-slogan .slogan-card {
    font-weight: 100;
    font-size: .9rem;
}

.num-percentage-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.num-percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-percentage, .revenue-percentage {
    display: flex;
    flex-direction: column;
}

.icon-percentage {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.num-percentage .num {
    font-size: 1.2rem;
}

.pdt-quantity {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.product-percentage .product {
    font-size: 1.2rem;
}

.product-percentage .qtt {
    font-size: .9rem;
    color: var(--color-sky-blue);
}

.num-margen .margen {
    font-size: .9rem;
}

.icon-percentage .percentage-positive {
    font-size: .8rem;
    color: var(--color-light-green);
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: .3rem;
}

.icon-percentage .percentage-negative {
    font-size: .8rem;
    color: var(--color-dark-red);
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: .3rem;
}

.icon-percentage .percentage-neutral {
    font-size: .8rem;
    color: var(--color-sky-blue);
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: .3rem;
}

/* ---------------------------------------------- */

.btn-see {
    display: flex;
    justify-content: end;
}

.btn-see a {
    text-decoration: none;
    font-size: .8rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.btn-see a p {
    color: var(--color-sky-blue);
}

/* ---------------------------------------------- */



.content-two-three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.grid-two {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-three {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.group-cards-auto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-dark-charcoal-blue);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
}

.content-cards-auto {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.product-stock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: auto;
}

.bp-stock {
    display: flex;
    flex-direction: column;
}

.bp-stock .available {
    font-size: .8rem;
    font-weight: 300;
}

.not-products {
    width: 100%;
    padding: 1rem 0;
}

.not-products p {
    font-size: .8rem;
    font-weight: 300;
    text-align: center;
}

.not-sales-today {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
}

.not-sales-today p {
    font-size: .8rem;
    font-weight: 300;
    text-align: center;
}

.low-stock {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulseShadow 1.5s infinite alternate;
    padding: .3rem 0;
    gap: .3rem;
    border-radius: 10px; 
}

.low-stock p {
    font-size: .8rem;
    color: var(--color-dark-red);
}

@keyframes pulseShadow {
    0% {
        color: var(--color-dark-red); 
        box-shadow: none;
    }
    50% {
        color: var(--color-dark-red);
        box-shadow: 0 0 20px 2px var(--color-dark-red); 
    }
    100% {
        color: var(--color-dark-red); 
        box-shadow: none;
    }
}

.news p {
    font-size: .8rem;
    font-weight: 300;
}



/* ORDERS */

.flex-order {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .5rem;
    flex-wrap: wrap;
}

.c-order {
    border: 1px double #282e3a;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: auto;
}

.c-order .one {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.c-order .one div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-order .one div p:last-child {
    font-size: .8rem;
    color: var(--color-sky-blue);
}

.c-order div:nth-child(3) p .pending {
    background-color: var(--color-dark-red); 
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.c-order div:nth-child(3) p .preparing {
    background-color: var(--color-light-yellow); 
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.c-order div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0 0 0;
    font-weight: 400;
    border-top: 1px solid #282e3a;
}

.c-order div:nth-child(4) form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-preparation {
    min-width: 100px;
    height: 30px;
    color: #fff;
    padding: .3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: var(--color-light-yellow);
   z-index: 1;
  }
  .btn-preparation:hover:after {
    width: 100%;
    left: 0;
  }
  .btn-preparation:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: var(--color-light-yellow);
    right: 0;
  }
  .btn-preparation:active {
    top: 2px;
  }


  .btn-ready {
    min-width: 100px;
    height: 30px;
    color: #fff;
    padding: .3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: var(--color-dark-green);
   z-index: 1;
  }
  .btn-ready:hover:after {
    width: 100%;
    left: 0;
  }
  .btn-ready:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: var(--color-light-yellow);
    right: 0;
  }
  .btn-ready:active {
    top: 2px;
  }

.not-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    height: auto;
}

.not-status p {
    font-size: .8rem;
    font-weight: 300;
}

  



/* ? MEDIA QUERY */

@media (max-width: 1400px) {
    .control-dash {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 1rem;
    }

    .grid-one {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0;
    }

    .card-union {
        width: 100%;
    }

    .cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .group-cards, .group-cards-auto {
        width: 100%;
    }
    
    .grid-two {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        padding: 0;
    }

    .product-stock {
        width: 100%;
    }

    .content-cards-auto {
        gap: 1rem;
    }

    .content-cards-auto .card-union {
        width: 100%;
    }

}









