@import url('../base-nav-dash.css');

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;

    background-color: var(--color-dark-blue-gray);
}

.pending-orders {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
}

.orders-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tlt-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button-function {
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--color-light-blue);
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .9rem;
    text-decoration: none;
}

.content-table {
    margin-top: 3rem;
}

table, th, td {
    border: 2px solid var(--color-slate-gray);
    border-collapse: collapse;
}

table {
    width: 80%;
    margin: auto;
}

th, td {
    padding: .5rem 0;
    text-align: center;
}

td {
    font-size: .9rem;
    font-weight: 300;
}

td:nth-child(7) a {
    text-decoration: none;
} 

td:nth-child(7) a:last-child {
    margin-left: 1rem;
}

.view-details a {
    text-decoration: none;
    background-color: #393937;
    padding: .2rem 1rem;
    border-radius: 10px;
}

.view-details a:hover {
    background-color: var(--color-light-blue);
}

.pending {
    background-color: var(--color-dark-red); 
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.preparing {
    background-color: var(--color-light-yellow); 
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}

.ready {
    background-color: var(--color-dark-green); 
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: .8rem;
}