@import url('../base-nav-dash.css');

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;

    background-color: var(--color-dark-blue-gray);
}

.earnings-today {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 2rem;
    box-sizing: border-box;
}

.earn-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tlt-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.date p {
    font-size: .9rem;
}

.button-function {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: .9rem;
    text-decoration: none;
}

.content-table {
    margin-top: 3rem;
}

.tlt-buttons-sale {
    width: 50%;
    margin: auto auto 1rem auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

table, th, td {
    border: 2px solid var(--color-slate-gray);
    border-collapse: collapse;
}

table {
    width: 50%;
    margin: auto;
}

th, td {
    padding: .5rem 0;
    text-align: center;
}

td {
    font-size: .9rem;
    font-weight: 300;
}

.view-details a {
    text-decoration: none;
    background-color: var(--color-dark-charcoal-blue);
    padding: .2rem 1rem;
    border-radius: 10px;
}

.view-details a:hover {
    background-color: var(--color-slate-gray);
}

.view-details a:hover {
    background-color: var(--color-sky-blue);
}